.form-radio{
    margin-left: 80px;
    margin-right: auto;
    width: 100%;
}

.img-responsive{
    display: block;
    margin: auto;
    width: 100%
}

#switch{
    font-size: x-small;
}

#unicode{
    position: absolute;
    right: 0px;
    margin-right: 15px;
}