<form [formGroup]="dateForm" class="form-group" (ngSubmit)="submit()">
    <div>
        <h1>Programation du jour de fonctionnement</h1>
        <div style="display:flex" class="form-group">
            <div style="width: 50px;;height:40px">
            <small style="width: 10%; margin: auto">On/Off</small>
                <label class="form-switch">
                    
                        <input type="checkbox" 
                        formControlName="onOff" 
                        class="form-switch filled-in" >
                        <i class="form-icon"></i>
                </label>
            </div>
            <select formControlName="jOn" 
                    class="form-select" 
                    style="width: 20%;height:40px">
                <option value="lundi">Lundi</option>
                <option value="mardi">Mardi</option>
                <option value="mercredi">Mercredi</option>
                <option value="jeudi">Jeudi</option>
                <option value="vendredi">Vendredi</option>
                <option value="samedi">Samedi</option>
                <option value="dimanche">Dimanche</option>
            </select>à
            <input formControlName="hOn" style="width: 20%;height:40px">H
            <input formControlName="mOn" style="width: 20%;height:40px">m
        </div>
        <p class="text-center" style="padding-top: 20px">
            <button type="submit" 
            class="btn" 
            [disabled]="!dateForm.valid" 
            >
                Valider
            </button>
        </p>

        <pre style="display:flex" *ngIf="dateForm.value.jOn!=null && dateForm.value.hOn!=null && dateForm.value.mOn!=null">
            <label>{{dateForm.value.jOn}} à {{dateForm.value.hOn}}H{{dateForm.value.mOn}}</label>
           
            <label>   <i class="icon icon-cross"></i></label>
</pre>
    </div>
</form>
<pre>{{dateForm.value | json}}</pre>