<form [formGroup]="temperatureForm">
    <h2 class="text-center">Programation de la température</h2>
    <div>
        <!----------------Sensor 1----------------->
            <div style="display:inline-flex">
                <h3>Sensor 1</h3>
                <div style="margin: auto;position:relative;bottom:5px;padding-left:10px">
                    <input type="radio" 
                    formControlName="sensorId" 
                    [value]="'sensor1'" 
                    id="sensor1" 
                    class="filled-in"  
                    (change)="setSensor(temperatureForm.value)">
                    <i class="form-icon"></i>
                </div>
            </div>
            
            
            <div style="display: flex" class="text-center">
                
                    
                    <div style="display: block; padding: 3px" class="form-group input-icon">                    
                        <label class="default-label">Actif supérieur à
                            <input class="form-control" 
                                type="text" 
                                id="actifMin1" 
                                style="width:100%" 
                                formControlName="actifMin1">
                        </label>
                    </div>   
                    
                    <div style="display: block; padding: 3px" class="form-group input-icon">                    
                        <label class="default-label">Actif inférieur à
                            <input class="form-control" 
                                type="text" 
                                id="actifMax1" 
                                style="width:100%" 
                                formControlName="actifMax1">
                        </label>
                    </div>

                    <div style="display: block; padding: 3px" class="form-group input-icon">                    
                        <label class="default-label" >Actif entre
                            <div style="display:flex">
                            <input class="form-control" 
                                type="text" 
                                id="actifEntreMin1" 
                                style="width:100%" 
                                formControlName="actifEntreMin1">-
                                <input class="form-control" 
                                type="text" 
                                id="actifEntreMax1" 
                                style="width:100%" 
                                formControlName="actifEntreMax1">
                            </div> 
                        </label>
                    </div>

                    <div style="display: block; padding: 3px" class="form-group input-icon">                    
                        <label class="default-label" >Inactif entre
                            <div style="display:flex">
                            <input class="form-control" 
                                type="text" 
                                id="inactifEntreMin1" 
                                style="width:100%" 
                                formControlName="inactifEntreMin1" 
                                maxlength="2">-
                                <input class="form-control" 
                                type="text" 
                                id="inactifEntreMax1" 
                                style="width:100%" 
                                formControlName="inactifEntreMax1">
                            </div> 
                        </label>
                    </div>  
                    
            </div>



                    <!----------------Sensor 2----------------->
            <div style="display:inline-flex">
                <h3>Sensor 2</h3>
                <div style="margin: auto;position:relative;bottom:5px;padding-left:10px">
                    <input type="radio" 
                    formControlName="sensorId" 
                    [value]="'sensor2'"
                    id="sensor2" 
                    class="filled-in"  
                    (change)="setSensor(temperatureForm.value)">
                    <i class="form-icon"></i>
                </div>
            </div>
            
            
            <div style="display: flex" class="text-center">
                
                    
                    <div style="display: block; padding: 3px" class="form-group input-icon">                    
                        <label class="default-label">Actif supérieur à
                            <input class="form-control" 
                                type="text" 
                                id="actifMin1" 
                                style="width:100%" 
                                formControlName="actifMin2">
                        </label>
                    </div>   
                    
                    <div style="display: block; padding: 3px" class="form-group input-icon">                    
                        <label class="default-label">Actif inférieur à
                            <input class="form-control" 
                                type="text" 
                                id="actifMax2" 
                                style="width:100%" 
                                formControlName="actifMax2">
                        </label>
                    </div>

                    <div style="display: block; padding: 3px" class="form-group input-icon">                    
                        <label class="default-label" >Actif entre
                            <div style="display:flex">
                            <input class="form-control" 
                                type="text" 
                                id="actifEntreMin" 
                                style="width:100%" 
                                formControlName="actifEntreMin2" 
                                maxlength="2">-
                                <input class="form-control" 
                                type="text" 
                                id="actifEntreMax" 
                                style="width:100%" 
                                formControlName="actifEntreMax2">
                            </div> 
                        </label>
                    </div>

                    <div style="display: block; padding: 3px" class="form-group input-icon">                    
                        <label class="default-label" >Inactif entre
                            <div style="display:flex">
                            <input class="form-control" 
                                type="text" 
                                id="inactifEntreMin" 
                                style="width:100%" 
                                formControlName="inactifEntreMin2">-
                                <input class="form-control" 
                                type="text" 
                                id="inactifEntreMax2" 
                                style="width:100%" 
                                formControlName="inactifEntreMax2">
                            </div> 
                        </label>
                    </div>  
                    
            </div>


    </div>
    <p class="text-center" style="padding-top: 20px">
        <button type="submit" class="btn" [disabled]="!temperatureForm.valid">
            Valider
        </button>
    </p>
</form>
<pre>{{temperatureForm.value | json}}</pre>